@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;700;800;900&family=Londrina+Solid:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container-fluid {
  padding: 0;
}

ul {
  list-style: none;
}

/* ------------------------------------------Colours*/
.none {
  color: #8e24ae; /*Primary*/
  color: #c159e1; /*Primary Light*/
  color: #5c007e; /*Primary Dark*/
  color: #99fcff; /*Secondary*/
  color: #ceffff; /*Secondary Light*/
  color: #65c9cc; /*Secondary Dark*/
  color: #fbffe2; /*Primary Text*/
  color: #324749; /*Secondary Text*/
}

.navigation,
.dropdown-menu,
.footer {
  background-color: #8e24ae;
}

.strapline,
.navbar-dark .navbar-nav .nav-link,
.dropdown-item,
.hero-tron,
.footer,
.footer a {
  color: #fbffe2;
}

.navbar-item:hover {
  background-color: #5c007e;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #99fcff;
}

.navbar-nav .active {
  background-color: #5c007e;
}

.btn-secondary {
  background-color: #99fcff;
  color: #324749;
}

.btn-secondary:hover {
  background-color: #65c9cc;
  color: #fbffe2;
}

.content-a {
  color: #324749;
}

.content-b {
  background-color: #5c007e;
  color: #fbffe2;
}

.content-b a {
  color: #99fcff;
}

.content-b a:hover {
  color: #65c9cc;
}

.event-a {
  background-color: #c159e1;
}

.event-b {
  background-color: #ceffff;
}

/* ------------------------------------------Header*/

.navigation {
  padding: 0;
}

.navbar-brand {
  padding: 0;
  margin: 1vw 1vw 0 1vw;
}

.navbar-brand img:hover {
  filter: hue-rotate(210deg) saturate(2) brightness(2);
}

.strapline {
  margin: 0 2vw;
  padding: 0;
  font-family: "Londrina Solid", cursive;
  text-transform: uppercase;
  letter-spacing: 0.75vw;
}

h1 {
  font-size: 4.6vw;
  margin: 0;
}

#logo {
  width: 30vw;
}

.navbar-toggler {
  font-size: 4vw;
  border: none;
  padding: 3vw;
}

.navbar-toggler-icon {
  width: 15vw;
  height: 15vw;
}

.navbar-item {
  width: 100%;
  height: 13vw;
  padding: 0 4vw;
}

.navbar-dark .navbar-nav .nav-link {
  height: 100%;
  font-family: "Londrina Solid", cursive;
  font-size: 4vw;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
}

.navbar-item a i {
  font-size: 6vw;
}

/* ------------------------------------------Main Content*/

.jumbotron-fluid {
  padding: 2rem 1rem;
}

.hero-tron {
  padding-bottom: 0.5rem;
  text-align: center;
  font-family: "Rubik", sans-serif;
  margin: 0;
}

.hero-image-a {
  height: 65vh;
  background: url("../images/object_hero_a.jpg") no-repeat top right;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}

.btn-secondary {
  border: none;
  text-transform: uppercase;
}

.main-content {
  text-align: center;
  font-family: "Rubik", sans-serif;
}

.intro-button-container {
  text-align: right;
  padding: 0 3vw 1rem 0;
}

h2 {
  font-size: 1.5em;
  margin: 3rem 0;
}

h6 {
  margin: 3rem 0 0 0;
}

h5 {
  font-size: 1.25em;
  margin: 1rem;
}

#breed-info {
  padding: 0 3rem 1rem;
}

/* ------------------------------------------Footer*/

.footer-right,
.footer-right small strong,
.footer-right small a {
  font-size: 0.5rem;
}

.footer-mid,
.footer-right,
.footer-left {
  text-align: center;
}

.footer-right {
  margin-top: 0.2rem;
}
.socials {
  margin-top: 0.5rem;
  margin-bottom: 0.5rem;
}

.social-link i {
  font-size: 5vh;
}

/* ------------------------------------------Media Queries*/

@media (min-width: 992px) {
  h1 {
    font-size: 2.4vw;
  }

  #logo {
    width: 20vw;
  }

  .navbar-dark .navbar-nav .nav-link {
    font-size: 2vw;
    padding-top: 3vw;
  }

  .navbar-item a i {
    font-size: 1.25em;
  }
}

@media (min-width: 768px) {
  .jumbotron-fluid {
    padding-top: 0.5rem;
  }
  .footer-right {
    text-align: right;
  }
  .footer-left {
    text-align: left;
  }
}

font-family: "Londrina Solid", cursive;
font-family: "Rubik", sans-serif;
