@import url("https://fonts.googleapis.com/css2?family=Rubik:wght@100;200;300;400;500;600;700;800;900&family=Londrina+Solid:wght@100;200;300;400;500;600;700;800;900&display=swap");

.container-fluid {
  padding: 0;
}

ul {
  list-style: none;
}

/* ------------------------------------------Colours*/
.none {
  color: #8e24ae; /*Primary*/
  color: #c159e1; /*Primary Light*/
  color: #5c007e; /*Primary Dark*/
  color: #99fcff; /*Secondary*/
  color: #ceffff; /*Secondary Light*/
  color: #65c9cc; /*Secondary Dark*/
  color: #fbffe2; /*Primary Text*/
  color: #324749; /*Secondary Text*/
}

.navigation,
.dropdown-menu,
.footer {
  background-color: #8e24ae;
}

.strapline,
.navbar-dark .navbar-nav .nav-link,
.dropdown-item,
.hero-tron,
.footer,
.footer a {
  color: #fbffe2;
}

.navbar-item:hover {
  background-color: #5c007e;
}

.navbar-dark .navbar-nav .nav-link:hover {
  color: #99fcff;
}

.navbar-nav .active {
  background-color: #5c007e;
}

.content-a,
.scroll-control a i {
  color: #324749;
}

.scroll-control a:hover {
    background-color: rgba(0,0,0,0.2)
}

.scroll-control a i:hover {
    color: #fbffe2;
}

.divider {
  background-color: #324749;
}

.content-b {
  background-color: #5c007e;
  color: #fbffe2;
}

.content-b a,
.content-a a {
  color: #99fcff;
}

.content-b a:hover,
.content-a a:hover,
.footer a:hover {
  color: #65c9cc;
}

.event-a,
.place-a {
  background-color: #c159e1;
  color: #fbffe2;
}

.event-b,
.place-b {
  background-color: #ceffff;
}

.event-b a,
.place-b a {
  color: #8e24ae;
}

.event-b a:hover,
.place-b a:hover {
  color: #5c007e;
}

.btn-secondary,
.content-a .btn-secondary,
.content-b .btn-secondary {
  background-color: #99fcff;
  color: #324749;
}

.btn-secondary:hover {
  background-color: #65c9cc;
  color: #fbffe2;
}

.btn-secondary:active {
    background-color: #324749;
}

.content-a .btn-secondary:hover {
  color: #fbffe2;
}

.content-b .btn-secondary:hover {
  color: #fbffe2;
}

.event-desc-b .btn-secondary,
.place-desc-b .btn-secondary {
  background-color: #8e24ae;
  color: #fbffe2;
}

.event-desc-b .btn-secondary:hover,
.place-desc-b .btn-secondary:hover {
  background-color: #5c007e;
  color: #99fcff;
}

#back-to-top {
  background-color: #8e24ae;
  color: #99fcff;
}

/* ------------------------------------------Header*/

.navigation {
  padding: 0;
}

.navbar-brand {
  padding: 0;
  margin: 1vw 1vw 0 1vw;
}

.navbar-brand img:hover {
  filter: hue-rotate(210deg) saturate(2) brightness(2);
}

.strapline {
  margin: 0 2vw;
  padding: 0;
  font-family: "Londrina Solid", cursive;
  text-transform: uppercase;
  letter-spacing: 0.75vw;
}

h1 {
  font-size: 4.6vw;
  margin: 0;
}

#logo {
  width: 30vw;
}

.navbar-toggler {
  font-size: 4vw;
  border: none;
  padding: 3vw;
}

.navbar-toggler-icon {
  width: 15vw;
  height: 15vw;
}

.navbar-item {
  width: 100%;
  height: 13vw;
  padding: 0 4vw;
}

.navbar-dark .navbar-nav .nav-link {
  height: 100%;
  font-family: "Londrina Solid", cursive;
  font-size: 4vw;
  text-align: center;
  text-transform: uppercase;
  letter-spacing: 0.5vw;
}

.navbar-item a i {
  font-size: 6vw;
}

/* ------------------------------------------Main Content*/

.jumbotron-fluid {
  padding: 2.5vh 1vh;
}

.hero-tron {
  text-align: center;
  font-family: "Rubik", sans-serif;
  margin: 0;
}

.hero-image-a {
  height: 65vh;
  background: url("../images/object_hero_a.jpg") no-repeat top right;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}

.hero-image-d {
  height: 65vh;
  background: url("../images/object_hero_d.jpg") no-repeat center;
  background-size: cover;
  -webkit-background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
}

.btn-secondary {
  border: none;
  text-transform: uppercase;
}

.main-content {
  text-align: center;
  font-family: "Rubik", sans-serif;
}

.divider {
  width: 25%;
  height: 0.5vh;
  margin: 5vh auto 0 auto;
}

.intro-button-container {
  padding: 3vh;
}

h2 {
  margin: 5vh 0;
}

h6 {
  margin: 5vh 0 0 0;
}

h5 {
  margin: 2.5vh;
}

#breed-info {
  padding: 0 5vh 3vh;
}

.event-details {
  padding: 0;
}

.event-details-item,
.event-desc,
.place-desc {
  margin: 1vh;
}

.event-desc p,
.place-desc p {
  margin-bottom: 1vh;
}

.event-summary-item-header,
.place-item-header {
  text-transform: uppercase;
}

.event-details-item-category {
  font-weight: 700;
}

.events-button-container {
  padding: 3vh;
}

.event-desc-image,
.place-desc-image {
    width: 90%;
    margin-bottom: 1vh;
}

.image-circle-container img {
  border-radius: 50%;
  height: 20vh;
  border: 0.5vh solid #99fcff;
  padding: 0.5vh;
}

#back-to-top {
  width: 10vw;
  height: 10vw;
  border: none;
  border-radius: 50%;
  font-size: 6.6vw;
  margin: 0 1.3vw 1.3vw 0;
  padding: 0;
  position: fixed;
  bottom: 0;
  right: 0;
  z-index: 9999;
}

.scroll-x {
    overflow-x: hidden;
}

.scroll-control {
    background: transparent;
    font-size: 7vh;
    position: absolute;
    top: auto;
    z-index: 9998;
    width: 3%;
    height: 100%;
}

.scroll-left {
    left: 0;
}

.scroll-right {
    right: 0;
}
.scroll-control a {
    height: 100%;
    width: 100%;
}

.scroll-control a i {
    position: relative;
    top: 30%;
    vertical-align: middle;
}

/* ------------------------------------------Footer*/

.footer-right,
.footer-right small strong,
.footer-right small a {
  font-size: 1.3vw;
}

.footer-mid,
.footer-right,
.footer-left {
  text-align: center;
}

.footer-right {
  margin: auto 0;
}

.socials {
  margin: 2.3vw 0;
}

.social-link i {
  font-size: 7vw;
}

/* ------------------------------------------Media Queries*/

/* -------------------------------Medium Viewport*/
@media (min-width: 768px) {
  .jumbotron-fluid {
    padding-top: 1.5vh;
  }
  .footer-right {
    text-align: left;
  }
  .footer-left {
    text-align: right;
  }
}

/* -------------------------------Large Viewport*/
@media (min-width: 992px) {
  h1 {
    font-size: 2.4vw;
  }

  #logo {
    width: 20vw;
  }

  .navbar-dark .navbar-nav .nav-link {
    font-size: 2vw;
    padding-top: 3vw;
  }

  .navbar-item a i {
    font-size: 2vw;
  }
}

/* -------------------------------Extra-Large Viewport*/
@media (min-width: 1200px) {
  .footer-right,
  .footer-right small strong,
  .footer-right small a {
    font-size: 0.65vw;
  }
  .socials {
    margin: 1.15vw 0;
  }

  .social-link i {
    font-size: 3.5vw;
  }
  .footer-right {
    text-align: right;
    padding-right: 1vh !important;
  }
  .footer-left {
    text-align: left;
  }
}

font-family: "Londrina Solid", cursive;
font-family: "Rubik", sans-serif;
